[submodule "external/voxtral"]
	path = external/voxtral
	url = https://github.com/Danmoreng/voxtral.cpp
	branch = android-tier1-kv-opencl
[submodule "external/vulkan-headers"]
	path = external/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Hpp.git
[submodule "external/OpenCL-Headers"]
	path = external/OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
[submodule "external/OpenCL-ICD-Loader"]
	path = external/OpenCL-ICD-Loader
	url = https://github.com/KhronosGroup/OpenCL-ICD-Loader.git
