[submodule "external/parakeet.cpp"]
	path = external/parakeet.cpp
	url = https://github.com/mudler/parakeet.cpp
[submodule "external/SPIRV-Headers"]
	path = external/SPIRV-Headers
	url = https://github.com/KhronosGroup/SPIRV-Headers
[submodule "external/Vulkan-Headers"]
	path = external/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
